<div class="container-fluid"  style="padding-top:20px">
  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
        <!-- Breadcrumb -->
            <ol class="breadcrumb">
            <li class="active">
            <i class="fa fa-database"></i> Import Data
            </li>
            <!-- More breadcrumb items go here -->
        </ol>

	    <div class="bs-example" data-example-id="basic-forms">
            <form>
                
                <div class="form-group">
                    <label for="selectedImportFile">Input from the default 'Update Items.csv' on desktop</label> 
                    <!-- <input type="file" id="selectedImportFile""> -->
                    <span>C:\Users\TOPICA\Desktop\Update Items.csv</span> 
                    <p class="help-block">Example block-level help text here.</p>
                </div>
                <button type="submit" class="btn btn-primary" 
                        ng-click="importData.FromDefaultSource()">Import Data from default source
                </button>
                <img ng-show="importData.loading" src="../SiteAssets/assets/spinner.gif">
                <div class="form-group" style="padding-top: 20px">
                    <label for="selectedImportFile">File input</label> 
                    <input type="file" id="selectedImportFile" fileread="importData.csvFile"> 
                    <p class="help-block">Example block-level help text here.</p>
                </div>
                <button type="submit" class="btn btn-success"
                    ng-click="importData.FromSelectedCSV()">
                    Import Data from selected csv file </button>
                <div class="form-group" style="padding-top:20px">
                    <label for="siteSelect">Select a Site:</label>
                    <select id="siteSelect" class="form-control"
                        ng-options="site as site.Title for site in spSites" 
                        ng-model="importData.selectedSite"
                        ng-change="getListsOfSite(importData.selectedSite.Id)"
                        ng-init="importData.selectedSite=spSites[0]">
                    </select>
                </div>
                <div class="form-group" style="padding-top:20px">
                    <label for="listSelect">Select a List to import data into:</label>
                    <select id="listSelect" class="form-control"
                        ng-options="list as list.Title for list in spLists" 
                        ng-model="importData.selectedList" 
                        ng-change="getListFields(importData.selectedList.Title)"
                        ng-disabled="!importedData" >
                    </select>
                </div>
            </form>
            <br>
            <div class="row" style="padding-top:20px">
                <div class="col col-md-4">
                    <button class="btn btn-warning" 
                    ng-disabled="!importData.selectedList || (missingFields.length && missingFields.length > 0) || hasInvalidHeader()"
                    ng-click="importData.startSending(importData.selectedSite.Id)">
                    Start Sending to SP</button>
                    <span class="red" ng-show="missingFields.length > 0" ng-bind="showMissingFields()+ ' missing'" ></span>
                </div>
                <!--  ------------------>
                <div class="col col-md-3">
                    <button class="btn btn-danger" ng-click="importData.assignTC()">Assign Delivery Information</button>
                    <input type="date" ng-model="importData.currentDeliveryDate" />
                </div>
                <div class="col col-md-3">
                    <input type="text" placeholder="Paste data here to import" onpaste="handlePaste(this, event)"/>
                </div>
            </div>
	    </div>

        <!-- Data table -->
        <div class="table-responsive" style="padding-top:20px">
            <table class="table table-bordered table-hover table-striped table-striped"
                    style="min-height: 600px;">
            <thead>
                <tr>
                    <th class="dropdown" ng-repeat="header in importedData.headers track by $index">
                        <a data-toggle="dropdown" class="header-button"
                            ng-class="{ red: !header.exists }">
                        {{ header.Title }} <span class="caret button-caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                        <li><a href="#">Drop down option 1</a></li>
                        <li><a href="#">Drop down option 2</a></li>
                        <li><a href="#">Drop down option 3</a></li>
                        </ul>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in importedData.rows track by $index">
                    <td ng-repeat="field in row track by $index">
                        <div>
                            <span>&nbsp;&nbsp;{{ field.Value }}&nbsp;&nbsp;</span>
                        </div>
                    </td>
                </tr>

            </tbody>

            </table>
        </div>

    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container-fluid -->